@import url('file:///home/ellie/.cache/wal/colors.css');

* {
    margin: 0;
    padding: 0;
    font-family: "Monospace";
}

#Greeting p{
    position: absolute;
    top: 25%;
    left: 40%;
    color: #373737;
    background-color: var(--color7);
    animation:colorchange 5s infinite;
}

@keyframes colorchange{
    0% {background-color: var(--color8); color: var(--color7)}
    50% {background-color: var(--color7); color: var(--color8)}
    100% {background-color: var(--color8); color: var(--color7)}
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color7);
    background-size: tile;
}

h2 {
    width: 100vw;
    position: absolute;
    top: calc(90vh - 20px);
    left: calc(55vh - 0px);
    text-align: center;
    font-weight: 300;
    font-size: 35px;
}

h3 {
    width: 100vw;
    position: absolute;
    top: calc(90vh - 0px);
    left: calc(75vh - 0px);
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    color: ;
}

form {
    position: absolute;
    left:50%;
    top: 35%;
    width: 600px;
    height: 50px;
    transform: translateX(-50%);
    font-weight: 300;
    z-index: 1;
}

form p {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: var(--color7);
    background-color: var(--color8);
    padding-left: 5px;
    padding-right: 5px;
}

form p span {
    cursor: pointer;
    transition: color 0.5s;
    transition: background-color 0.5s;
}

form p span:hover {
    color: var(--color8);
    background-color: var(--color7);
}

input[type=text] {
    width: 600px;
    color: #f4f4f4;
    height: 50px;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    padding: 10px;
    font-weight: 300;
    transition: background-color 0.5s
}

input[type=text]:focus {
    border-color: #707070;
    background-color: #000000;
}

.stripe {
    position: relative;
    width: 40px;
    height: 25vh;
    color: var(--color4);
    z-index: 2;
    background-color: var(--color3);
}

.stripe .title  {
    position: relative;
    width: 40px;
    color: var(--color5);
    height: 100%;
    float: left;
    box-sizing: border-box;
    transition: color 0.5s;
}

.stripe .title span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    font-weight: 400;
}

.stripe .content {
    position: absolute;
    left: calc(5vw + 40px);
    width: calc(90vw - 40px);
    display: none;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}

.stripe .content div {
    position: relative;
    height: 100%;
    width: 150px;
    display: none;
}

.stripe .content div img {
    position: absolute;
    max-height: 100px;
    max-width: 150px;
    top: 50%;
    transform: translateY(-50%);
}
.stripe .content span {
    line-height: calc(25vh - 50px);
    display: none;
}

.stripe .content span a {
    text-decoration: none;
    color: var(--color5);
    transition: color 1s;
    transition: background-color 1s;
}

.stripe .content span a:hover{
    color: #373737;
    background-color: #f4f4f4;
}
